*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
 body {
    background-color: darkblue;
}

.site-header {}

.container {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
}

button {
    margin-right: 50px;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 50px;
}

.list__item {

    &:hover {
        cursor: pointer;
    }
}

.item__img {
    transition: all 0.3s ease;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.item__title {
    transition: all 0.3s ease;
    color: bisque;
}

.item__img:hover+.item__title {
    color: cadetblue;
}